<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css">
    <title>YT2MP3</title>
</head>
<body>
    <div class="top-container">
        <form action="/convert-mp3" method="POST" id="form">
            <h1><i class="fab fa-youtube"></i>Youtube To Mp3 Converter</h1>
            <h4>Enter the video id</h4>
            <div>
                <input type="text" name="videoID" placeholder="video ID"><button id="convert-btn">Convert</button>
            </div>
            </form>
            </div>
            <div class="button-container">
                <% if(typeof success != "undefined" && success) { %>
                    <div class="success">
                        <p><%= song_title %></p>
                        <a href="<%= song_link %>"><button id="download-btn">Download</button></a>
                    </div>
                    <% } else if(typeof success != "undefined" && !success) { %>
                    <div class="errors">
                        <p><%= message %></p>
                    </div>
                    <% } %>
            </div>
</body>
</html>